.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 400ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li:hover {
  background-color: #9df3cf;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
  cursor: pointer;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
  cursor: pointer;
}
